* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    height: 100vh;
}
.maincontainer {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
}
header {
    color: whitesmoke;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
}
.logo{
    margin: 0 1rem;
    font-family: 'Kaushan Script', cursive;
    color: rgba(245, 199, 68, 0.822);
}
.navbar {
    color: whitesmoke;
    font-family: 'Rajdhani', sans-serif;
}
ul {
    display: flex;
}
li {
    list-style: none;
    margin: 0 1rem;
}
li:hover {
    color: rgba(247, 211, 88);
    cursor: pointer;
}
i { 
    display: none !important;
    margin: 0 1rem;
    border: 1px solid; 
    padding: .3rem 1rem;
    border-radius: 6px;
    background-color: rgba(245, 199, 68, 0.822)
}
.menu_button{

}
.welcome {
    text-align: center;
    color: white;
    font-size: 48px;
    font-style: italic;
    margin-top: 300px;
}
.meet {
    text-align: center;
    color: white;
    font-size: 100px;
    
}
@media (max-width: 1200px) {
    .container{
        max-width: 990px;
    }
}
@media (max-width: 990px) {
    .container{
        max-width: 800px;
    }
    i {
        display: inline-block !important;
    }
ul {
    display: none;
}
header {
    background: rgba(41, 40, 43)
}
.maincontainer {
    height: 80%;
}
}